{% extends "base/pagina.html" %}

{% block content %}
    <div style="height:200px; padding-left: 8%; " >
        <h1 style="color: white;"> <strong> <p>Bussines Analyst</p> </h1>
        <h2 style="color: white;"><p>Ayuda a las personas a ver y comprender los datos </p> </h2>
    </div>
<video class="video-header"
        src="https://drive.google.com/uc?export=download&id=1v9YxN7IMbam20-I1QSy4SHYBexWD31fQ" 
        autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg">
    </video>

    <div class="container" style="padding-top: 5%;">
        <div class="row align-items-start">
            <div class="col">
                <p style="color: blue;">Proyectos Big Data con Tableau</p>
                <p>Nuestra gestión de proyectos se basa en la metodología del Project Management Institute (PMI) a través de la cual fomentamos las buenas practicas para llevar a cabo la ejecución de procesos y determinar las áreas de conocimiento requeridas. </p>
            </div>
            <div  class="col">
                   <img src="https://www.turing-ia.com/assets/img/ba.jpg" alt="">    
            </div>
        </div>
    </div>
  
{% endblock content %}