{% extends "base/pagina.html" %}

{% block content %}
    <div style="height:200px; padding-left: 8%; " >
        <h1 style="color: white;"> <strong> <p>Capacitacion</p> </h1>
        <h2 style="color: white;"><p>Transferimos no solo conocimiento en Tableau, si no un gran expertise en la industria del Businnes analitics, Big Data, Data mining, Data to Insight </p> </h2>
    </div>
<video class="video-header"
        src="https://drive.google.com/uc?export=download&id=1obqu20QgIXcmLGIwaEqaZwboOAUxfKF2" 
        autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg">
    </video>

    <div class="container" style="padding-top: 5%;">
        <div class="row align-items-start">
            <div class="col">
                <p style="color: blue;">LO QUE OFRECEMOS</p>
                <h1>Tenemos una gran variedad de cursos.</h1>
                <ul>
                    <li>Tableau Prep</li>
                    <li>Tableau Desktop</li>
                    <li>Visual Analytics</li>
                    <li>Tableau Server</li>
                </ul>
                <p>Adicionalmente ofrecemos cursos sobre: Business Intelligence, Data Mining, Big Data, Data to Insight.</p>
            </div>
            <div  class="col">
                   <img src="https://www.turing-ia.com/assets/img/capacitacion.jpg" width="600px" alt="">    
            </div>
        </div>
    </div>
{% endblock content %}