{% extends "base/pagina.html" %}

{% block content %}
<div style="height:200px; padding-left: 8%; " >
    <h1 style="color: white;"> <strong> <p>Venta de Hardware</p> </h1>
    <h2 style="color: white;"><p>La Exigencia que tenemos en ofrecer siempre productos de calidad</p> </h2>
  </div>
<video class="video-header"
        src="https://drive.google.com/uc?export=download&id=1NyBWLkt1X4SdEZX42FBaf9nsTYDWW6jZ" 
        autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg">
    </video>

    <div class="container" style="padding-top: 5%;">
      <div class="row align-items-start">
          <div class="col">
              <p style="color: blue;">Venta de hardware</p>
              <p>Trabajamos con los mejores proveedores de México y tenemos la capacidad de cubrir cualquier necesidad que tenga de hardware. Redes, computadoras, impresoras y accesorios. son más adecuados. </p>
          </div>
          <div  class="col">
                 <img src="https://www.turing-ia.com/assets/img/hardw.jpg" width="600px" alt="">    
          </div>
      </div>
  </div>
{% endblock content %}