{% extends "base/pagina.html" %}

{% block content %}
<div style="height:200px; padding-left: 8%; " >
    <h1 style="color: white;"> <strong> <p>Venta de software</p> </h1>
    <h2 style="color: white;"><p>Responda preguntas a la velocidad del pensamiento</p> </h2>
  </div>
<video class="video-header"
        src="https://drive.google.com/uc?export=download&id=1e8U3wiL5A4ti_XsaWOCBIFM3mfc2Kwi1" 
        autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg">
    </video>

    <div class="container" style="padding-top: 5%;">
      <div class="row align-items-start">
          <div class="col">
              <p style="color: blue;">Venta de software</p>
              <p>Nos dedicamos a la venta de licencias de software, podemos recomendarle los sistemas que de acuerdo a sus necesidades son más adecuados. </p>
          </div>
          <div  class="col">
                 <img src="https://www.turing-ia.com/assets/img/softin.png" width="600px" alt="">    
          </div>
      </div>
  </div>
{% endblock content %}