{% extends "base/pagina.html" %}

{% block content %}
<div style="height:200px; padding-left: 8%; " >
    <h1 style="color: white;"> <strong> <p>Workshop</p> </h1>
    <h2 style="color: white;"><p>Hacemos los datos faciles de usar</p> </h2>
  </div>
<video class="video-header"
        src="https://drive.google.com/uc?export=download&id=1-nNeaMuYq3qFd_Z4mZaMDhBqFHrlxbCV" 
        autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg">
    </video>
{% endblock content %}