{% extends "base/pagina.html" %}

{% block content %}

  <div style="height:200px; padding-left: 8%; " >
    <h1 style="color: white;"> <strong> <p>Bienvenido</p> </h1>
    <h2 style="color: white;"><p>Hacemos los datos faciles de usar</p> </h2>
  </div>

<video class="video-header"
    src="https://drive.google.com/uc?export=download&id=1J_Y4xY_FGItfFan4xu0GBo1w73WYqxFT" 
    autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg"></video>
    <div class="col-10 " style="padding: 5% 10% 5% 10%;">
       <p>QUE REALIZAMOS</p>
       <h1>Contribuimos con su empresa para mejorar la toma de decisiones a traves de sus datos</h1>
       <a class="btn btn-primary" href="#" role="button">Mas informacion</a>
    </div>
    <div class="container-fluid row" style="padding: 0% 2% 0 2%;">
        <div class="col-4">
            <video style="
              clip-path: polygon(0 0,calc(100% - 80.00px) 0,100% 80.00px,100% calc(100% - 80.00px),calc(100% - 80.00px) 100%,0 100%);
              width: 350px;
              height: 300px;
              position: relative;
              top: 0;
              left: 0;
              background-size: cover;
              object-fit: cover;
              filter: brightness(60%);
              z-index: -1;" 
              src="https://drive.google.com/uc?export=download&id=1NxB--0x8ucRcjjFuM-nAiVSVzO5di3d7" 
              autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg">
            </video>
        </div>
        <div class="col-4">
          <p style="color: blue;">LA MANERA IDEAL PARA MANEJAR TUS DATOS</p>
          <p>Somos el socio estratégico que necesitas para potenciar los datos de tu organización.
            Contamos con más de 15 años de experiencia brindando soluciones innovadoras, adaptadas a las necesidades de nuestros clientes, en más de 10 industrias y diferentes áreas funcionales.</p>
        </div>
        <div class="col-4">
          <img src="https://www.turing-ia.com/assets/img/cer-pmi.jpg" alt="personas-trabajando", style="rotate: 20deg;  width: 400px;
          height: 250px;">
        </div>
      </div>
    

{% endblock content %}