{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing IA</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <script src = "{% static 'bootstrap.min.js' %}"></script>
</head>
<body">
    
    <div style="height: 200px;">
        <div class = "barra" style="padding-left: 7%; padding-right: 5%; padding-top: 2%; ">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <a class="navbar-brand col-lg-5" href="{% url 'pagIndex' %}" style="color: white;"> <h1><strong>TURING-IA</strong></h1> </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-outline-light btn-md" href="{% url 'pagInicio' %}" ><strong>Inicio</strong></a>
                        </li>
                        <li class="nav-item" style="padding-left: 5px;">
                            <a class="btn btn-outline-light btn-md" href="{% url 'pagNosotros' %}"> <strong>Nosotros</strong> </a>
                        </li>
                        <li class="nav-item dropdown" style="padding-left: 5px;">
                            <a class="btn btn-outline-light btn-md" href="{% url 'pagServicios' %}">
                            <strong>Servicios</strong> 
                            </a>
                        </li>
                        <li>
                          <div>
                            <button type="button" class="btn btn-md btn-outline-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                              <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{% url 'pagBussines' %}">Business Analyst</a></li>
                              <li><a class="dropdown-item" href="{% url 'pagWorkshop' %}">Workshop</a></li>
                              <li><a class="dropdown-item" href="{% url 'pagCapacitacion' %}">Capacitacion</a></li>
                              <li><a class="dropdown-item" href="{% url 'pagVsoftware' %}">Venta de software</a></li>
                              <li><a class="dropdown-item" href="{% url 'pagVhardware' %}">Venta de hardware</a></li>
                              <li><a class="dropdown-item" href="{% url 'pagDsoftware' %}">Desarrollo de software</a></li>
                              <li><a class="dropdown-item" href="{% url 'pagBalanced' %}">Balanced Scorecard</a></li>
                            </ul>
                          </div>
                          
                        </li>
                        <li class="nav-item dropdown" style="padding-left: 5px;">
                            <a class="btn btn-outline-light btn-md" href="{% url 'pagTableau' %}" >
                            <strong>Tableau</strong> 
                            </a>
                        </li>
                        <li>
                          <button type="button" class="btn btn-md btn-outline-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'pagDesktop' %}">Desktop</a></li>
                            <li><a class="dropdown-item" href="{% url 'pagPrep' %}">Prep</a></li>
                            <li><a class="dropdown-item" href="{% url 'pagCloud' %}">Cloud</a></li>
                            <li><a class="dropdown-item" href="{% url 'pagServer' %}">Server</a></li>
                            <li><a class="dropdown-item" href="{% url 'pagSmanage' %}">Server Management</a></li>
                            <li><a class="dropdown-item" href="{% url 'pagDmanage' %}">Data Management</a></li>
                            </ul>
                        </li>
                        <li class="nav-item" style="padding-left: 5px;">
                            <a class="btn btn-outline-light btn-md" href="{% url 'pagPortal' %}" style="font-weight: bold;">Portal</a>
                        </li>
                        <li class="nav-item" style="padding-left: 5px;">
                            <a class="btn btn-outline-light btn-md" href="{% url 'pagBlog' %}" style="font-weight: bold">Blog</a>
                        </li>
                        <li class="nav-item" style="padding-left: 5px;">
                            <a class="btn btn-outline-light btn-md" href="{% url 'pagContacto' %}" style="font-weight: bold">Contacto</a>
                        </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
        
    </div>
    
    {% block content %}


    {% endblock content %}


    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" style="padding-top:5%;">
  
    <!-- Section: Links  -->
    <section class="" style="background-color: #131B85; color: white; padding-top: 2%;">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4" style="font-weight: bold;">
              Turing Inteligencia Artificial
            </h6>
            <p>
                Av. Insurgentes 601
                Col. Nápoles, Benito Juárez
                Ciudad de México, México 
            </p>
            <p style="font-weight: bold;">
                Teléfono de contacto:
            </p>
            <p>
                +52 (722) 936-96-65
            </p>

            <p style="font-weight: bold;">
                Correo electronico:
            </p>
            <p>
                contacto@turing-ia.com
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Mapa de sitio
            </h6>
            <p>
              <a href="{% url 'pagInicio'%}" class="text-reset">Inicio</a>
            </p>
            <p>
              <a href=" {% url 'pagNosotros' %} " class="text-reset">Nosotros</a>
            </p>
            <p>
              <a href="{% url 'pagServicios' %}" class="text-reset">Servicios</a>
            </p>
            <p>
              <a href="{% url 'pagTableau' %}" class="text-reset">Tableau</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Nuestros servicios
            </h6>
            <p>
              <a href="{% url 'pagBussines' %}" class="text-reset">Implementacion de Proyectos (Business Analyst)</a>
            </p>
            <p>
              <a href="{% url 'pagWorkshop' %}" class="text-reset">Workshop (Blue Print)</a>
            </p>
            <p>
              <a href="{% url 'pagCapacitacion' %}" class="text-reset">Capacitacion</a>
            </p>
            <p>
              <a href="{% url 'pagVsoftware' %}" class="text-reset">Venta de software</a>
            </p>
            <p>
                <a href="{% url 'pagVhardware' %}" class="text-reset">Venta de hardware</a>
            </p>
            <p>
                <a href="{% url 'pagDsoftware' %}" class="text-reset">Desarrollo de Aplicaciones</a>
            </p>
            <p>
                <a href="{% url 'pagBalanced' %}" class="text-reset">Balanced Scorecard</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Inscribete a nuestro newsletter</strong>
            </p>
            <input type="email" id="form5Example21" class="form-control" />
            <label class="form-label" for="form5Example21">Correo Electronico</label>
            <p></p>
            <button type="submit" class="btn btn-outline-light mb-4">
                Suscribirse
            </button>
        </div>
        <!-- Grid row -->
      </div>
      
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Turing Inteligencia Artificial. Derechos reservados </a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


    
</body>
</html>