{% extends "base/pagina.html" %}

{% block content %}
<video class="video-header"
        src="https://drive.google.com/uc?export=download&id=1JiDmLaiIBJI43AGCh9j5UQ_pmwGGJ7We" 
        autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg">
    </video>
    <div style="height:200px; padding-left: 8%; " >
        <h1 style="color: white;"> <strong> <p>Tableau</p> </h1>
        <h2 style="color: white;"><p>Ayuda a las personas a ver y comprender los datos </p> </h2>
      </div>
    
{% endblock content %}