{% extends "base/pagina.html" %}

{% block content %}
<video class="video-header"
        src="https://drive.google.com/uc?export=download&id=1JiDmLaiIBJI43AGCh9j5UQ_pmwGGJ7We" 
        autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg">
    </video>
    <div style="height:200px; padding-left: 8%; " >
        <h1 style="color: white;"> <strong> <p>Tableau</p> </h1>
        <h2 style="color: white;"><p>Ayuda a las personas a ver y comprender los datos </p> </h2>
      </div>
    

      <div class="container" style="padding-top: 5%;">
        <div class="row align-items-start">
            <div class="col">
                <p style="color: blue;">QUE ES TABLEAU</p>
                <h1>Soluciones de Negocio basadas en Análisis de Datos Inteligentes </h1>
                <p>Es un software capaz de brindarle a tu empresa panoramas completos de análisis de datos.
                  Facilita la toma de decisiones basada en información de confianza.
                  Su uso es comprensible para todas las áreas dentro de la empresa. </p>
            </div>
            <div  class="col">
                   <img src="https://www.turing-ia.com/assets/img/partnertab.png" alt="">    
            </div>
        </div>

        <p style="color: blue;">TABLEAU PRODUCTS</p>
        <h1> Tenemos una gran gama de soluciones para llevara al máximo nivel tu compañia </h1>
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-inner" style=" padding-left:20%;">
            <div class="carousel-item active">
              <div class="card" style="width: 40rem;">
                <img src="https://www.turing-ia.com/assets/img/prep.png" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TABLEAU PREP</h5>
                  <p class="card-text">Cambia la forma en que se realiza la preparación de datos tradicional en una organización. Al proporcionar una forma visual y directa de combinar, dar forma y limpiar datos. Asimismo, automatiza los flujos de preparación de datos. Así podrá completar los análisis y obtener la información mucho más rápido. </p>
                  <a href="{% url 'pagPrep'%}" class="btn btn-primary">Leer mas</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card" style="width: 50rem;">
                <img src="https://www.turing-ia.com/assets/img/getinsightsfast.gif" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TABLEAU DESKTOP</h5>
                  <p class="card-text"> Deje atrás a los creadores de gráficos. Los análisis visuales en vivo impulsan la exploración de datos ilimitada. </p>
                  <a href="{% url 'pagDesktop'%}" class="btn btn-primary">Leer mas</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card" style="width: 50rem;">
                <img src="https://www.turing-ia.com/assets/img/Products_Cloud_Intro.png" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TABLEAU CLOUD</h5>
                  <p class="card-text">Es su plataforma de análisis completamente alojada en la nube. Publique Dashboards y comparta sus descubrimientos con cualquier persona. </p>
                  <a href="{% url 'pagCloud'%}" class="btn btn-primary">Leer mas</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card" style="width: 50rem;">
                <img src="https://www.turing-ia.com/assets/img/servert.png" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TABLEAU SERVER</h5>
                  <p class="card-text">Difunde el valor de los datos en toda tu organización con Tableau Server. Otórgale poder a tu empresa dándole la libertad de explorar los datos en un entorno de confianza, sin limitarlos a preguntas predefinidas, asistentes o tipos de gráficos inflexibles. </p>
                  <a href="{% url 'pagServer'%}" class="btn btn-primary">Leer mas</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card" style="width: 50rem;">
                <img src="https://www.turing-ia.com/assets/img/dataman.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TABLEAU DATA MANAGEMENT</h5>
                  <p class="card-text"> Te ayuda a administrar mejor los datos dentro de tu entorno de análisis, asegurando que siempre se usen datos confiables y actualizados para tomar decisiones. </p>
                  <a href="{% url 'pagDmanage'%}" class="btn btn-primary">Leer mas</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card" style="width: 50rem;">
                <img src="https://www.turing-ia.com/assets/img/serverma.png" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TABLEAU SERVER MANAGEMENT</h5>
                  <p class="card-text">Tableau Server Management Add-on facilita la ejecución de implementaciones de Tableau Server grandes y de misión crítica. </p>
                  <a href="{% url 'pagSmanage'%}" class="btn btn-primary">Leer mas</a>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        
        </div>
      </div>
{% endblock content %}